[submodule "vendor/astral-core"]
	path = vendor/astral-core
	url = https://github.com/Online-Arcana/astrology-core.git
[submodule "vendor/astral-interpreter"]
	path = vendor/astral-interpreter
	url = https://github.com/Online-Arcana/astral-interpreter.git
[submodule "vendor/astral-packager"]
	path = vendor/astral-packager
	url = https://github.com/Online-Arcana/astral-packager.git
